version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             gunicorn nail_salon.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - .:/code
      - /code/media
    ports:
      - 8000:8000
    environment:
      - DJANGO_SETTINGS_MODULE=nail_salon.settings
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
